[Unit]
Description=Gazebo Simulation with one drone
PartOf=dronology-omnibus.service
After=dronology-omnibus.service
Conflicts=gazebo-multi.service
Conflicts=jmavsim.service

[Service]
Type=simple
User=dronology
Group=dronology
WorkingDirectory=/opt/Firmware
EnvironmentFile=/var/lib/dronology/gazebo-service.env
ExecStart=/usr/bin/make px4_sitl gazebo
