[Unit]
Description=JMAVsim Simulation with one drone
Conflicts=gazebo.service
Conflicts=gazebo-multi.service

[Service]
Type=simple
User=dronology
Group=dronology
WorkingDirectory=/opt/Firmware
EnvironmentFile=/var/lib/dronology/jmavsim-service.env
ExecStart=/usr/bin/make px4_sitl_default jmavsim
