[Unit]
Description=JMAVsim Simulation with one drone
PartOf=dronology-omnibus.service
Conflicts=gazebo.service
Conflicts=gazebo-multi.service

[Service]
Type=simple
User=dronology
Group=dronology
WorkingDirectory=/opt/Firmware
EnvironmentFile=/var/lib/dronology/jmavsim-service.env
ExecStart=/usr/bin/make px4_sitl jmavsim
