[Unit]
Description=Multi-drone Simulation

[Service]
Type=simple
User=dronology
Group=dronology
WorkingDirectory=/opt/Firmware
EnvironmentFile=/var/lib/dronology/simulator.env
ExecStart=/usr/bin/python3.8 /usr/local/bin/multi-drone-runner.py $NUMBER_OF_DRONES
