[Unit]
Description=Dronology java backend
PartOf=dronology-omnibus.service
Requires=network.target
After=dronology-omnibus.service
Requires=mosquitto.service
After=mosquitto.service

[Service]
Type=notify
NotifyAccess=all
User=dronology
Group=dronology
WorkingDirectory=/var/lib/dronology
EnvironmentFile=/usr/local/Dronology/dronology.env
ExecStart=/usr/bin/java -cp "/usr/local/Dronology/lib/*" edu.nd.dronology.services.launch.DronologyServiceRunner

[Install]
Also=dronology-omnibus.service
Also=dronology-vaadin.service
