[Unit]
Description=Dronology Vaadin UI
PartOf=dronology-omnibus.service
After=dronology-omnibus.service
Requires=dronology.service

[Service]
Type=simple
User=dronology
Group=dronology
WorkingDirectory=/usr/local/Dronology
EnvironmentFile=/usr/local/Dronology/dronology.env
ExecStart=/usr/bin/java -cp "/usr/local/Dronology/lib/*" -jar "/usr/local/Dronology/jetty/start.jar"

[Install]
Also=dronology.service
Also=dronology-omnibus.service
